.event-ctn {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.event-title-img {
  display: block;
  width: 100%;
  margin: auto;
  border: 1px solid #cccccc55;
  margin-bottom: 20px;
}

.event-name {
  font-weight: bold;
  margin-bottom: 20px;
}

.event-icon {
  width: 25px;
  font-size: 25px;
  text-align: center;
  color: #ffbb33;
}

.event-join-btn, .event-share-btn {
  width: 80%;
  height: 60px;
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.event-join-btn {
  color: black !important;
  font-size: 18px;
}

.event-ctn h5 {
  font-weight: bold;
}

.event-body {
  padding: 30px 5px;
}

.event-info-card {
  height: auto;
  overflow: hidden;
}

.show-more-hide {
  height: 500px;
}

.show-more-btn {
  position: absolute;
  width: 120px;
  margin: 10px auto;
  bottom: 0;
  left: 0;
  right: 0;
}