.event-ctn {
  width: 100%;
  max-width: 960px;
  margin: auto;
}

.event-title-img {
  display: block;
  width: 100%;
  margin: auto;
  border: 1px solid #cccccc55;
  margin-bottom: 20px;
}

.event-name {
  font-weight: bold;
  margin-bottom: 20px;
}

.event-icon {
  width: 25px;
  font-size: 25px;
  text-align: center;
  color: #ffbb33;
}

.event-join-btn, .event-share-btn {
  width: 80%;
  height: 60px;
  display: block;
  margin: auto;
  margin-top: 20px;
  font-size: 15px;
  font-weight: bold;
}

.event-join-btn {
  color: black !important;
}

.event-share-btn {
  background-color: #3b5998 !important;
}

.event-ctn h5 {
  font-weight: bold;
}

.event-body {
  padding: 30px 5px;
}

.event-main-card, .event-info-card {
  height: auto;
  overflow: hidden;
  margin-bottom: 20px;
}

.event-info-card {
}

.event-card-text {
  margin-bottom: 50px;
  transition: height 1s;
}

.show-more-hide {
  max-height: 500px;
  overflow: hidden;
}

.show-more-btn {
  position: absolute;
  width: 120px;
  margin: 20px auto;
  bottom: 0;
  left: 0;
  right: 0;
}

.show-more-hide::after {
  content: "";
  height: 100px;
  background-image: linear-gradient(transparent, white);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}