.home-event {
  height: 300px;
  padding: 20px;
}

.home-event-inner {
  width: 100%;
  height: 100%;
  background-color: white;
  box-shadow: 1px 1px 20px 0px #00000047;
}

.home-event-img-ctn {
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.home-event-des-ctn {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 50%;
  padding: 10px;
}

.home-event-img {
  width: 100%;
  border-bottom: 1px #eeeeeeee solid;
}

h3.home-event-des-title {
  font-size: 15px;
  font-weight: bold;
  flex: 1;
}

.home-event-des-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.home-event-des-place {
  font-size: 13px;
  border: 1px #7272724b solid;
  padding: 3px 5px;
  width: fit-content;
  height: fit-content;
  align-self: flex-end;
}

.home-event-des-calendar {
  width: 70px;
  height: 70px;
  background-color: white;
  box-shadow: 1px 1px 5px 2px #00000024;
}

.home-calendar-month {
  font-size: 10px;
  color: white;
  text-align: center;
  padding: 3px;
  height: 30%;
  background-color: #EB1212;
}

.home-calendar-date {
  font-size: 25px;
  text-align: center;
  height: 50%;
}

.home-calendar-wd {
  font-size: 10px;
  text-align: center;
  height: 20%;
}