.nav-custom {
  /* width: 120px;
  text-align: center; */
  margin-right: 20px;
}

.drop-menu-custom {
  width: 300px;
}

.brand-img {
  height: 40px;
}

.nav-title {
  font-size: 26px;
  padding: 2px 0px;
  font-weight: bold;
  width: 170px;
  text-align: center;
}

@media (max-width: 1200px) {
  .nav-title {
    display: none;
  }
}

/* ------------------------ */

.login-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffbb33;
  background-color: #2c3448;
}

.login-img {
  flex: 2;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.login-container img {
  width: 300px;
  max-width: 60%;
  margin-top: 20px;
}

.login-form {
  width: 90%;
  max-width: 500px;
  height: auto;
  flex: 4;
}

.login-card {
  padding: 20px;
  margin: 20px 0;
}

.login-form-input {
  display: block;
  width: 100%;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  margin: 5px 0 15px 0;
  padding: 0.3rem 0 0.55rem 0;
  height: auto;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  outline: none;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #ced4da;
  border-radius: 0;
  box-sizing: content-box;
  background-color: transparent;
}

.login-form-input:focus {
  box-shadow: 0 1px 0 0 #4285f4;
  border-bottom: 1px solid #4285f4;
}

.login-form-input.error {
  background-color: rgba(231, 65, 65, 0.192);
}

.login-card .md-form {
  margin: 10px 0;
}

.login-error {
  font-size: 15px;
  color: orangered;
}

.login-submit {
  width: 200px;
  height: 40px;
  max-width: 80%;
  display: block;
  margin: 20px auto 10px auto;
  font-size: 16px !important;
  color: black !important;
}

.login-h2 {
  font-size: 12px;
  display: block;
  margin: 10px auto;
}

.login-h2 > a {
  color: #4285f4 !important;
  font-weight: bold;
}

/* ----------------------------- */

.admin-container {
  width: 100vw;
  min-height: 100vh;
}
