.home-carousel, .home-list {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .home-carousel {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .home-carousel {
    display: none;
  }
}

.capt {
  background-color: #00000059;
  width: fit-content;
  margin: auto;
  padding: 5px;
}